input[type="checkbox"] {
  display: flex;
  align-items: center;
  justify-content: center;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 2em;
  height: 2em;
  border: 2px solid var(--border-color);
  background-color: var(--background-color);
}

input[type="checkbox"]:checked::before {
  content: none;
  display: block;
  width: 1em;
  height: 1em;
  border: 2px solid var(--tw-ring-color);
  box-shadow: 0.5em 0.5em 0 0 var(--border-color);
}
input[type="checkbox"]:checked::after {
  content: none;
  display: block;
  width: 1em;
  height: 1em;
  border: 2px solid var(--tw-ring-color);
  box-shadow: 0.5em 0.5em 0 0 var(--border-color);
}
input[type="checkbox"]:focus {
  border: 2px solid var(--border-color);
  border-color: var(--tw-ring-color);
  box-shadow: 0.5em 0.5em 0 0 var(--border-color);
}

input[type="checkbox"]:hover {
  border: 2px solid var(--border-color);
  border-color: var(--focus-border-color);
  box-shadow: 0.5em 0.5em 0 0 var(--border-color);
}

input[type="checkbox"]:active {
  border: 2px solid var(--border-color);
  box-shadow: 0.5em 0.5em 0 0 var(--border-color);
}

input[type="checkbox"]:active:focus {
  border: 2px solid var(--tw-ring-color);
  box-shadow: 0.5em 0.5em 0 0 var(--border-color);
}

input[type="checkbox"]:disabled {
  border: 2px solid var(--border-color);
  box-shadow: 0.5em 0.5em 0 0 var(--border-color);
}
[type="checkbox"]:checked {
  background-color: var(--background-color);
  border-color: var(--border-color);
}
[type="checkbox"]:checked:focus {
  background-color: var(--background-color);
  border-color: var(--tw-ring-color);
}
[type="checkbox"]:checked:hover {
  background-color: var(--background-color);
  border-color: var(--focus-border-color);
}