.hovered {
  border: 2px solid var(--tw-ring-color);
  box-shadow: 0.5em 0.5em 0 0 var(--border-color);
}
.not-hovered {
  border: 2px solid var(--border-color);
  box-shadow: 0.5em 0.5em 0 0 var(--border-color);
}

.focused {
  border: 2px solid #2563eb;
  box-shadow: 0.5em 0.5em 0 0 var(--border-color);
}

.passwordinput {
  border: 2px solid var(--border-color);
  background-color: var(--background-color);
  color: var(--text-color);
  box-shadow: 0.5em 0.5em 0 0 var(--border-color);
  padding: 1em;
}

.passwordinput:focus {
  background-color: var(--background-color);
  color: var(--text-color);
  box-shadow: 0.5em 0.5em 0 0 var(--border-color);
  outline: none;
}

.passwordinput:hover {
  border-color: var(--focus-border-color);
}

.passwordinput {
  background-color: var(--background-color);
  color: var(--text-color);
}
