.hovered {
  border: 2px solid var(--hover-border-color);
  box-shadow: 0.5em 0.5em 0 0 var(--border-color);
}
.not-hovered {
  border: 2px solid var(--border-color);
  box-shadow: 0.5em 0.5em 0 0 var(--border-color);
}

.focused {
  border: 2px solid var(--focused-border-color);
  box-shadow: 0.5em 0.5em 0 0 var(--border-color);
}

.hovered-icon {
  color: var(--hover-border-color)
}
.not-hovered-icon {
  color: var(--border-color)
}

.focused-icon {
  color: var(--focus-border-color)
}
