.focused {
  border: 2px solid var(--tw-ring-color);
}

.focused:hover {
  border-color: var(--focused-border-color);
}

.border-color:hover {
  border-color: var(--tw-ring-color);
}

.focused:focus-within {
  border-color: var(--tw-ring-color);
}

.hovered-class {
  border-color: var(--tw-ring-color);
}