/* .textarea {
  border: 2px solid var(--border-color);
  background-color: var(--background-color);
  color: var(--text-color);
  box-shadow: 0.5em 0.5em 0 0 var(--border-color);
  padding: 1em;
}

.textarea:focus {
  background-color: var(--background-color);
  color: var(--text-color);
  box-shadow: 1em 1em 0 0 var(--border-color);
}

.textarea:hover {
  border-color: var(--focus-border-color);
}

.h-6em {
  height: 6em;
} */
