.tooltip {
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #d3d3d3;
  text-underline-offset: auto;
  cursor: pointer;
}

.border-post {
  border-color: #d3d3d3;;
  box-shadow: #d3d3d3;;
}