/* Define custom properties for themes */
:root {
  --text-color: #1a1a1a;
  --border-color: #d3d3d3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: #d3d3d3;
    --border-color: #1a1a1a;
  }
}

.textinput {
  color: var(--text-color); /* Use custom property for text color */
  border-color: var(--border-color); /* Use custom property for border color */
}