.textarea {
  background-color: #1a1a1a;
  color: #d3d3d3; /* Use custom property for text color */
  border-color: #d3d3d3; /* Use custom property for border color */
  box-shadow: 1em 1em 0 0 #d3d3d3;
}

.textarea:focus {
  background-color: #1a1a1a;
  color: #d3d3d3; /* Use custom property for text color */
  box-shadow: 1em 1em 0 0 #d3d3d3;
}

.h-6em {
  height: 6em;
}