@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Press Start 2P', 'Consolas', 'Courier New', monospace;
  font-weight: 800;
  background-color: #1a1a1a;
  color: #d3d3d3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Press Start 2P', 'Consolas', 'Courier New', monospace;
  font-weight: 800;
}

