@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define custom properties for themes */
:root {
  --background-color: #d3d3d3;
  --text-color: #1a1a1a;
  --border-color: var(--text-color)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1a1a1a;
    --text-color: #d3d3d3;
    --border-color: var(--text-color)
  }
}

body {
  margin: 0;
  font-family: 'Press Start 2P', 'Consolas', 'Courier New', monospace;
  font-weight: 800;
  background-color: var(--background-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Press Start 2P', 'Consolas', 'Courier New', monospace;
  font-weight: 800;
}